#header-logo {
  background-image: url("https://raw.githack.com/teminl/web-console/master/seblogo.jpg");
  background-position:left center;
  background-repeat:no-repeat;
  height:60px;width:240px;
}
.navbar-pf-vertical {
    padding-left: 0;
}
.navbar-pf-vertical .navbar-brand {
    padding-bottom: 0px;
    padding-top: 0px;
}
.navbar-brand {
    float: left;
    padding: 0 0;
    font-size: 14px;
    line-height: 20px;
    height: 61px;
}
